<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.study_with_me">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Study_With_Me"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".InputInterestActivity"></activity>
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity android:name=".ReportPost" />
        <activity android:name=".ReportIssue" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".ShowUser" />
        <activity android:name=".ViewImage" />
        <activity android:name=".CreatePost" />
        <activity android:name=".CreateProfile" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WaitingActivity" />
        <activity android:name=".OnBoardingScreen" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>